// dict_compile.rc --- dictionary compiler of MZ-IME Japanese Input
/////////////////////////////////////////////////////////////////////////////

#define APSTUDIO_READONLY_SYMBOLS
#include <windows.h>
#include <dlgs.h>
#undef APSTUDIO_READONLY_SYMBOLS

// UTF-8
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
// Version Info

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0, 9, 2, 0
PRODUCTVERSION  0, 9, 2, 0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    // Japanese
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041103A4"
        BEGIN
            VALUE "CompanyName", "片山博文MZ\0"
            VALUE "FileDescription", "MZ-IME日本語入力 辞書コンパイラ\0"
            VALUE "FileVersion", "0.9.2\0"
            VALUE "LegalCopyright", "Copyright (C) 2016-2017 片山博文MZ.\0"
            VALUE "ProductName", "MZ-IME日本語入力\0"
            VALUE "ProductVersion", "0.9.2\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 0x03A4
    END
END

/////////////////////////////////////////////////////////////////////////////
