*-2in1.pdf
*.autosave
*.cmake
*.dir
*.err
*.exe
*.filters
*.idb
*.ime
*.log
*.map
*.ncb
*.o
*.obj
*.opensdf
*.res
*.sdf
*.sln
*.suo
*.tds
*.user
*.vcproj
*.vcxproj
*.wrn
*~
.vs
CMakeCache.txt
CMakeFiles
Debug
Makefile
Release
TMP1.$$$
build/
build32/
build64/
build_test/
ipch
objfre_w2k_x86
x64
a.txt
mzimeja-*-debug-setup.exe
mzimeja-*-setup.exe
*.ninja
.ninja*
*-old
enc_temp_folder/
archive.7z
mzimeja*-LL-setup/

# Rust build artifacts
third_party/vibrato-c/target/
third_party/vibrato-c/Cargo.lock
