*.exe
*.o
*.user
*.suo
*.ncb
*.ime
*.log
*.wrn
*.err
Debug
Release
x64
objfre_w2k_x86
.vs
*-2in1.pdf
build
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
ALL_BUILD.vcproj
ZERO_CHECK.vcproj
mzimeja.ime.vcproj
mzimeja_cxx.vcproj
ALL_BUILD.vcxproj
ZERO_CHECK.vcxproj
mzimeja.ime.vcxproj
mzimeja_cxx.vcxproj
mzimeja_ime.sln
