// setup.rc --- resource of MZ-IME Japanese Input Setup
/////////////////////////////////////////////////////////////////////////////

#define APSTUDIO_READONLY_SYMBOLS
#include <windows.h>
#include <dlgs.h>
#undef APSTUDIO_READONLY_SYMBOLS

// UTF-8
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
// Icons

1 ICON "../res/sigma_japan.ico"

/////////////////////////////////////////////////////////////////////////////
// Strings

STRINGTABLE 
BEGIN
    1, "MZ-IMEバージョン情報"
    2, "http://katahiromz.web.fc2.com/mzimeja/"
END

/////////////////////////////////////////////////////////////////////////////
// Dialog

1 DIALOG 0, 0, 185, 65
STYLE DS_MODALFRAME | DS_NOIDLEMSG | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "MZ-IMEバージョン情報"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
FONT 10, "ＭＳ Ｐゴシック"
BEGIN
   CONTROL "", ico1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 5, 20, 20
   CONTROL "MZ-IME日本語入力 0.8\nby 片山博文MZ\npublic domain software (PDS)", 0, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 33, 5, 145, 30
   CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 45, 60, 14
   CONTROL "ホームページへ移動(&M)", psh1, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 45, 110, 14
END

/////////////////////////////////////////////////////////////////////////////
// Version Info

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0, 8, 0, 0
PRODUCTVERSION  0, 8, 0, 0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    // Japanese
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041103A4"
        BEGIN
            VALUE "CompanyName", "片山博文MZ\0"
            VALUE "FileDescription", "MZ-IME日本語入力 バージョン情報\0"
            VALUE "FileVersion", "0.8\0"
            VALUE "LegalCopyright", "Copyright (C) 2016-2017 片山博文MZ.\0"
            VALUE "ProductName", "MZ-IME日本語入力\0"
            VALUE "ProductVersion", "0.8\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 0x03A4
    END
END

/////////////////////////////////////////////////////////////////////////////
