// ime_setup.rc --- resource of MZ-IME Japanese Input Setup
/////////////////////////////////////////////////////////////////////////////

#define APSTUDIO_READONLY_SYMBOLS
#include <windows.h>
#include <dlgs.h>
#undef APSTUDIO_READONLY_SYMBOLS

// UTF-8
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

STRINGTABLE 
BEGIN
    1, "MZ-IME Setup"
    2, "Registry setup failed (#1)."
    3, "Failed to copy files."
    4, "日本語 (MZ-IME)"
    5, "IME installation failed. Please contact the author with error code %d."
    6, "Registry deletion failed."
    7, "Failed to delete files."
    8, "Registry setup failed (#2)."
END

/////////////////////////////////////////////////////////////////////////////

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

1 DIALOG 30, 28, 180, 63
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MZ-IME 日本語入力セットアップ"
FONT 10, "ＭＳ Ｐゴシック"
BEGIN
    CONTROL "インストール(&I)", rad1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 10, 85, 14
    CONTROL "アンインストール(&U)", rad2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 25, 85, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 45, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 45, 60, 14
END

/////////////////////////////////////////////////////////////////////////////

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 DIALOG 30, 28, 180, 63
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MZ-IME Japanese Input Setup"
FONT 9, "MS Shell Dlg"
BEGIN
    CONTROL "&Install", rad1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 10, 85, 14
    CONTROL "&Uninstalll", rad2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 25, 85, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 45, 60, 14
    CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 45, 60, 14
END

/////////////////////////////////////////////////////////////////////////////
// Version Info

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0, 9, 6, 0
PRODUCTVERSION  0, 9, 6, 0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    // Japanese
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041103A4"
        BEGIN
            VALUE "CompanyName", "片山博文MZ\0"
            VALUE "FileDescription", "MZ-IME日本語入力 セットアップ\0"
            VALUE "FileVersion", "0.9.6\0"
            VALUE "LegalCopyright", "Copyright (C) 2016-2017 片山博文MZ.\0"
            VALUE "ProductName", "MZ-IME日本語入力\0"
            VALUE "ProductVersion", "0.9.6\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 0x03A4
    END
END

/////////////////////////////////////////////////////////////////////////////
