// ime_setup.rc --- resource of MZ-IME Japanese Input Setup
/////////////////////////////////////////////////////////////////////////////

#define APSTUDIO_READONLY_SYMBOLS
#include <windows.h>
#include <dlgs.h>
#undef APSTUDIO_READONLY_SYMBOLS

// UTF-8
#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
// Strings

STRINGTABLE 
BEGIN
    1, "MZ-IME セットアップ"
    2, "レジストリの設定に失敗しました(#1)。管理者権限でインストールをやり直して下さい。"
    3, "ファイルのコピーに失敗しました。管理者権限でインストールをやり直して下さい。"
    4, "日本語 (MZ-IME)"
    5, "IMEのインストールに失敗しました。エラーコード%dを作者にご連絡下さい。"
    6, "レジストリの削除に失敗しました。"
    7, "ファイルの削除に失敗しました。"
    8, "レジストリの設定に失敗しました(#2)。管理者権限でインストールをやり直して下さい。"
    9, "Do you want to install MZ-IME Japanese Input?"
END

/////////////////////////////////////////////////////////////////////////////
// Dialog

1 DIALOG 30, 28, 135, 63
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "MZ-IMEセットアップ"
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
FONT 10, "ＭＳ Ｐゴシック"
BEGIN
    CONTROL "インストール(&I)", rad1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 10, 85, 14
    CONTROL "アンインストール(&U)", rad2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 25, 85, 14
    CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 45, 60, 14
    CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 45, 60, 14
END

/////////////////////////////////////////////////////////////////////////////
// Version Info

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0, 9, 3, 0
PRODUCTVERSION  0, 9, 3, 0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    // Japanese
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041103A4"
        BEGIN
            VALUE "CompanyName", "片山博文MZ\0"
            VALUE "FileDescription", "MZ-IME日本語入力 セットアップ\0"
            VALUE "FileVersion", "0.9.3\0"
            VALUE "LegalCopyright", "Copyright (C) 2016-2017 片山博文MZ.\0"
            VALUE "ProductName", "MZ-IME日本語入力\0"
            VALUE "ProductVersion", "0.9.3\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 0x03A4
    END
END

/////////////////////////////////////////////////////////////////////////////
