#include <windows.h>

1 BITMAP "..\\..\\res\\radical.bmp"

1 DIALOG DISCARDABLE 0, 0, 200, 200
STYLE WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_SIZEBOX
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "DebugOptions"
FONT 10, "‚l‚r ‚oƒSƒVƒbƒN"
BEGIN
END
